section {
  border: 5px solid black;
  width: 600px;
  overflow: hidden;
  text-align: center;
}
section article {
  background-color: gold;
  width: 200px;
  height: 100px;
  float: left;
  border: 1px solid red;
  box-sizing: border-box;
}
/* section {
  border: 5px solid black;
  text-align: center;
}
section article {
  background-color: aqua;
  width: 200px;
  height: 100px;
  border: 1px solid blueviolet;
  display: inline-block;
} */
