body {
  line-height: 1.5em;
  margin: 0;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
a {
  text-decoration: none;
}

.loading {
  border: 1px solid red;
  width: 30px;
  height: 30px;
  /* span이 부모가 body가 아니라 loading이구나 인식 */
  position: relative;
}
.loading span {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: gray;
}

.loading span:nth-child(1) {
}
.loading span:nth-child(2) {
}

@keyframes loading {
  0% {
  }
  25% {
  }
  50% {
  }
  75% {
  }
  100% {
  }
}
