.box {
  border: 5px solid #000;
  text-align: center;
}
.box div {
  border: 5px solid #000;
  margin: 10px;
  width: 200px;
  height: 200px;
  display: inline-block;
  /* margin: auto;하면 중앙배치 되지 않음 */
}
/* 무조건 나오는 태그 순서로 된다 만약 h1태그가 끼면 섞임*/
/* .box div:nth-child(2) {
  background-color: red;
}
.box div:first-child {
  background-color: dodgerblue;
}
.box div:last-child {
  background-color: gold;
} */

/* div태그를 꼭 확인한다 */
.box div:nth-of-type() {
  background-color: red;
}
.box div:nth-of-type() {
  background-color: dodgerblue;
}
.box div:nth-of-type() {
  background-color: greenyellow;
}
.box div:nth-of-type() {
  background-color: gold;
}
