.parent {
  background-color: dodgerblue;
  width: 600px;
  height: 300px;
  position: relative;
}
.child {
  background-color: crimson;
  width: 100px;
  height: 100px;
  border: 3px solid black;
  position: absolute;
  /* 좌,우,위,아래는 position속성과 꼭 함께 */
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 100px;
}

.inside1 {
  top: 0;
  left: 0;
}
.inside2 {
  top: 0;
  right: 0;
}
.inside3 {
  bottom: 0;
  left: 0;
}
.inside4 {
  bottom: 0;
  right: 0;
}
.inside5 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.outside1 {
  top: 100%;
  left: 0;
}
.outside2 {
  top: 0;
  left: 100%;
}

.outside3 {
  top: 100%;
  left: 100%;
}
