body {
  font-size: 30px;
  color: white;
  text-align: center;
}

.container {
  border: 1px solid red;
  width: 1200px;
  margin: auto;
}
header {
  background-color: skyblue;
  /* 자식요소에 float값이 있으면 부모는 높이값을 잃는다 */
  /* 방법 2가지 : height 혹은 overflow(효율적) 준다 */
  /* height: 100px; */
  overflow: hidden;
}
header article {
  background-color: gray;
  width: 300px;
  height: 100px;
}
.logo {
  float: left;
}
.navi {
  float: right;
}

.box1 {
  background-color: yellowgreen;
  height: 300px;
}
.box2 {
  background-color: greenyellow;
  /* 밑에 자식요소가 있으므로 height주지 않아도 됨*/
  /* 자식요소에 float 있으므로 */
  overflow: hidden;
}
/* 공통적인것은 묶어서 한번에 */
.box2 article {
  width: 33.333333%;
  height: 300px;
  float: left;
}
.sub1 {
  background-color: darkgray;
}
.sub2 {
  background-color: lightgray;
}
.sub3 {
  background-color: lightslategray;
}
footer {
  background-color: skyblue;
  height: 100px;
}
